<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>kl_H</key>
  <dict>
  </dict>
  <key>public.kern1.kl_A</key>
  <dict>
    <key>u</key>
    <integer>-20</integer>
    <key>public.kern2.kr_O</key>
    <integer>-10</integer>
    <key>public.kern2.kr_T</key>
    <integer>-20</integer>
    <key>public.kern2.kr_V</key>
    <integer>-40</integer>
    <key>public.kern2.kr_Y</key>
    <integer>-50</integer>
    <key>public.kern2.kr_c</key>
    <integer>-10</integer>
    <key>public.kern2.kr_v</key>
    <integer>-30</integer>
    <key>public.kern2.kr_z</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.kl_B</key>
  <dict>
    <key>public.kern2.kr_B</key>
    <integer>-20</integer>
    <key>public.kern2.kr_U</key>
    <integer>-10</integer>
    <key>public.kern2.kr_V</key>
    <integer>-20</integer>
    <key>public.kern2.kr_Y</key>
    <integer>-40</integer>
    <key>public.kern2.kr_b</key>
    <integer>-10</integer>
    <key>public.kern2.kr_j</key>
    <integer>-20</integer>
    <key>public.kern2.kr_v</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_C</key>
  <dict>
    <key>public.kern2.kr_T</key>
    <integer>-20</integer>
    <key>public.kern2.kr_Y</key>
    <integer>-20</integer>
    <key>public.kern2.kr_Z</key>
    <integer>-20</integer>
    <key>public.kern2.kr_t</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.kl_D</key>
  <dict>
    <key>public.kern2.kr_A</key>
    <integer>-20</integer>
    <key>public.kern2.kr_T</key>
    <integer>-40</integer>
    <key>public.kern2.kr_V</key>
    <integer>-30</integer>
    <key>public.kern2.kr_j</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_E</key>
  <dict>
    <key>public.kern2.kr_A</key>
    <integer>10</integer>
    <key>public.kern2.kr_B</key>
    <integer>30</integer>
    <key>public.kern2.kr_b</key>
    <integer>20</integer>
    <key>public.kern2.kr_c</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_F</key>
  <dict>
    <key>public.kern2.kr_B</key>
    <integer>-10</integer>
    <key>public.kern2.kr_a</key>
    <integer>-30</integer>
    <key>public.kern2.kr_c</key>
    <integer>-20</integer>
    <key>public.kern2.kr_s</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.kl_G</key>
  <dict>
    <key>public.kern2.kr_A</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.kl_H</key>
  <dict>
    <key>u</key>
    <integer>-10</integer>
    <key>public.kern2.kr_B</key>
    <integer>-10</integer>
    <key>public.kern2.kr_T</key>
    <integer>-10</integer>
    <key>public.kern2.kr_j</key>
    <integer>-20</integer>
    <key>public.kern2.kr_n</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_J</key>
  <dict>
    <key>u</key>
    <integer>-10</integer>
    <key>public.kern2.kr_A</key>
    <integer>-20</integer>
    <key>public.kern2.kr_J</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.kl_K</key>
  <dict>
    <key>u</key>
    <integer>-30</integer>
    <key>public.kern2.kr_B</key>
    <integer>-10</integer>
    <key>public.kern2.kr_U</key>
    <integer>-20</integer>
    <key>public.kern2.kr_c</key>
    <integer>-30</integer>
    <key>public.kern2.kr_y</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.kl_L</key>
  <dict>
    <key>u</key>
    <integer>-10</integer>
    <key>public.kern2.kr_O</key>
    <integer>-20</integer>
    <key>public.kern2.kr_U</key>
    <integer>-10</integer>
    <key>public.kern2.kr_V</key>
    <integer>-40</integer>
    <key>public.kern2.kr_Y</key>
    <integer>-40</integer>
    <key>public.kern2.kr_c</key>
    <integer>-20</integer>
    <key>public.kern2.kr_y</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.kl_P</key>
  <dict>
    <key>u</key>
    <integer>-20</integer>
    <key>public.kern2.kr_A</key>
    <integer>-40</integer>
    <key>public.kern2.kr_B</key>
    <integer>-10</integer>
    <key>public.kern2.kr_J</key>
    <integer>-50</integer>
    <key>public.kern2.kr_O</key>
    <integer>-10</integer>
    <key>public.kern2.kr_S</key>
    <integer>-20</integer>
    <key>public.kern2.kr_T</key>
    <integer>-30</integer>
    <key>public.kern2.kr_Y</key>
    <integer>-30</integer>
    <key>public.kern2.kr_b</key>
    <integer>-20</integer>
    <key>public.kern2.kr_c</key>
    <integer>-30</integer>
    <key>public.kern2.kr_j</key>
    <integer>-30</integer>
    <key>public.kern2.kr_n</key>
    <integer>-20</integer>
    <key>public.kern2.kr_s</key>
    <integer>-30</integer>
    <key>public.kern2.kr_y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_R</key>
  <dict>
    <key>public.kern2.kr_T</key>
    <integer>-20</integer>
    <key>public.kern2.kr_U</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_S</key>
  <dict>
    <key>public.kern2.kr_B</key>
    <integer>-20</integer>
    <key>public.kern2.kr_O</key>
    <integer>-10</integer>
    <key>public.kern2.kr_T</key>
    <integer>-30</integer>
    <key>public.kern2.kr_U</key>
    <integer>-10</integer>
    <key>public.kern2.kr_V</key>
    <integer>-20</integer>
    <key>public.kern2.kr_X</key>
    <integer>-30</integer>
    <key>public.kern2.kr_Y</key>
    <integer>-20</integer>
    <key>public.kern2.kr_v</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_T</key>
  <dict>
    <key>u</key>
    <integer>-100</integer>
    <key>public.kern2.kr_A</key>
    <integer>-60</integer>
    <key>public.kern2.kr_B</key>
    <integer>-20</integer>
    <key>public.kern2.kr_O</key>
    <integer>-30</integer>
    <key>public.kern2.kr_S</key>
    <integer>-30</integer>
    <key>public.kern2.kr_U</key>
    <integer>-30</integer>
    <key>public.kern2.kr_b</key>
    <integer>-20</integer>
    <key>public.kern2.kr_c</key>
    <integer>-100</integer>
    <key>public.kern2.kr_n</key>
    <integer>-80</integer>
    <key>public.kern2.kr_s</key>
    <integer>-100</integer>
    <key>public.kern2.kr_v</key>
    <integer>-90</integer>
    <key>public.kern2.kr_x</key>
    <integer>-70</integer>
    <key>public.kern2.kr_y</key>
    <integer>-100</integer>
    <key>public.kern2.kr_z</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.kl_U</key>
  <dict>
    <key>public.kern2.kr_J</key>
    <integer>-50</integer>
    <key>public.kern2.kr_T</key>
    <integer>-10</integer>
    <key>public.kern2.kr_U</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.kl_V</key>
  <dict>
    <key>public.kern2.kr_A</key>
    <integer>-30</integer>
    <key>public.kern2.kr_O</key>
    <integer>-30</integer>
    <key>public.kern2.kr_S</key>
    <integer>-20</integer>
    <key>public.kern2.kr_c</key>
    <integer>-40</integer>
    <key>public.kern2.kr_s</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.kl_W</key>
  <dict>
    <key>u</key>
    <integer>-20</integer>
    <key>public.kern2.kr_A</key>
    <integer>-50</integer>
    <key>public.kern2.kr_B</key>
    <integer>-20</integer>
    <key>public.kern2.kr_O</key>
    <integer>-30</integer>
    <key>public.kern2.kr_a</key>
    <integer>-30</integer>
    <key>public.kern2.kr_c</key>
    <integer>-30</integer>
    <key>public.kern2.kr_y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.kl_X</key>
  <dict>
    <key>public.kern2.kr_a</key>
    <integer>-20</integer>
    <key>public.kern2.kr_c</key>
    <integer>-30</integer>
    <key>public.kern2.kr_y</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.kl_Y</key>
  <dict>
    <key>u</key>
    <integer>-50</integer>
    <key>public.kern2.kr_B</key>
    <integer>-20</integer>
    <key>public.kern2.kr_O</key>
    <integer>-20</integer>
    <key>public.kern2.kr_U</key>
    <integer>-20</integer>
    <key>public.kern2.kr_X</key>
    <integer>-20</integer>
    <key>public.kern2.kr_a</key>
    <integer>-40</integer>
    <key>public.kern2.kr_b</key>
    <integer>-40</integer>
    <key>public.kern2.kr_c</key>
    <integer>-80</integer>
    <key>public.kern2.kr_n</key>
    <integer>-60</integer>
    <key>public.kern2.kr_s</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.kl_Z</key>
  <dict>
    <key>public.kern2.kr_a</key>
    <integer>-10</integer>
    <key>public.kern2.kr_c</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.kl_a</key>
  <dict>
    <key>public.kern2.kr_j</key>
    <integer>-30</integer>
    <key>public.kern2.kr_v</key>
    <integer>-10</integer>
    <key>public.kern2.kr_y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_b</key>
  <dict>
    <key>public.kern2.kr_j</key>
    <integer>-30</integer>
    <key>public.kern2.kr_v</key>
    <integer>-10</integer>
    <key>public.kern2.kr_y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.kl_c</key>
  <dict>
    <key>public.kern2.kr_g</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.kl_d</key>
  <dict>
    <key>public.kern2.kr_y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_f</key>
  <dict>
    <key>public.kern2.kr_b</key>
    <integer>10</integer>
    <key>public.kern2.kr_c</key>
    <integer>-20</integer>
    <key>public.kern2.kr_f</key>
    <integer>10</integer>
    <key>public.kern2.kr_t</key>
    <integer>20</integer>
    <key>public.kern2.kr_y</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.kl_g</key>
  <dict>
    <key>public.kern2.kr_f</key>
    <integer>20</integer>
    <key>public.kern2.kr_g</key>
    <integer>10</integer>
    <key>public.kern2.kr_t</key>
    <integer>30</integer>
    <key>public.kern2.kr_v</key>
    <integer>10</integer>
    <key>public.kern2.kr_y</key>
    <integer>10</integer>
    <key>public.kern2.kr_z</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.kl_j</key>
  <dict>
    <key>public.kern2.kr_a</key>
    <integer>-30</integer>
    <key>public.kern2.kr_b</key>
    <integer>-30</integer>
    <key>public.kern2.kr_c</key>
    <integer>-20</integer>
    <key>public.kern2.kr_j</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.kl_k</key>
  <dict>
    <key>public.kern2.kr_a</key>
    <integer>-20</integer>
    <key>public.kern2.kr_b</key>
    <integer>-10</integer>
    <key>public.kern2.kr_c</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.kl_l</key>
  <dict>
    <key>u</key>
    <integer>-30</integer>
    <key>public.kern2.kr_a</key>
    <integer>-30</integer>
    <key>public.kern2.kr_b</key>
    <integer>-30</integer>
    <key>public.kern2.kr_c</key>
    <integer>-20</integer>
    <key>public.kern2.kr_f</key>
    <integer>-10</integer>
    <key>public.kern2.kr_g</key>
    <integer>-20</integer>
    <key>public.kern2.kr_n</key>
    <integer>-10</integer>
    <key>public.kern2.kr_v</key>
    <integer>-20</integer>
    <key>public.kern2.kr_y</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.kl_r</key>
  <dict>
    <key>public.kern2.kr_c</key>
    <integer>-20</integer>
    <key>public.kern2.kr_t</key>
    <integer>30</integer>
    <key>public.kern2.kr_v</key>
    <integer>10</integer>
    <key>public.kern2.kr_y</key>
    <integer>10</integer>
    <key>public.kern2.kr_z</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.kl_t</key>
  <dict>
    <key>public.kern2.kr_t</key>
    <integer>20</integer>
    <key>public.kern2.kr_z</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.kl_v</key>
  <dict>
    <key>public.kern2.kr_a</key>
    <integer>-10</integer>
    <key>public.kern2.kr_c</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.kl_y</key>
  <dict>
    <key>public.kern2.kr_f</key>
    <integer>10</integer>
    <key>public.kern2.kr_t</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.kl_z</key>
  <dict>
    <key>public.kern2.kr_t</key>
    <integer>10</integer>
    <key>public.kern2.kr_z</key>
    <integer>10</integer>
  </dict>
</dict>
</plist>
