<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ordn</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>public.kern1.kl_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1.kl_B</key>
  <array>
    <string>B</string>
    <string>Germandbls</string>
    <string>germandbls</string>
  </array>
  <key>public.kern1.kl_C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern1.kl_D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern1.kl_E</key>
  <array>
    <string>AE</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>OE</string>
  </array>
  <key>public.kern1.kl_F</key>
  <array>
    <string>F</string>
  </array>
  <key>public.kern1.kl_G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern1.kl_H</key>
  <array>
    <string>H</string>
    <string>Hbar</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1.kl_J</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern1.kl_K</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
  </array>
  <key>public.kern1.kl_L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1.kl_P</key>
  <array>
    <string>P</string>
    <string>Thorn</string>
  </array>
  <key>public.kern1.kl_R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
  </array>
  <key>public.kern1.kl_S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern1.kl_T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern1.kl_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
  </array>
  <key>public.kern1.kl_V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.kl_W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.kl_X</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern1.kl_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern1.kl_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1.kl_a</key>
  <array>
    <string>a</string>
    <string>a.alt</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>atilde</string>
    <string>h</string>
    <string>hbar</string>
    <string>m</string>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
    <string>ordfeminine</string>
  </array>
  <key>public.kern1.kl_b</key>
  <array>
    <string>b</string>
    <string>eth</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>p</string>
    <string>thorn</string>
  </array>
  <key>public.kern1.kl_c</key>
  <array>
    <string>ae</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>oe</string>
  </array>
  <key>public.kern1.kl_d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
  </array>
  <key>public.kern1.kl_f</key>
  <array>
    <string>f</string>
  </array>
  <key>public.kern1.kl_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
  </array>
  <key>public.kern1.kl_i</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
  </array>
  <key>public.kern1.kl_j</key>
  <array>
    <string>dotlessj</string>
    <string>iogonek</string>
    <string>j</string>
    <string>q</string>
  </array>
  <key>public.kern1.kl_k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>public.kern1.kl_l</key>
  <array>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>lslash</string>
  </array>
  <key>public.kern1.kl_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
  </array>
  <key>public.kern1.kl_s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern1.kl_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern1.kl_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
  </array>
  <key>public.kern1.kl_v</key>
  <array>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern1.kl_x</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern1.kl_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
  <key>public.kern1.kl_z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern1.period</key>
  <array>
    <string>colon</string>
    <string>comma</string>
    <string>period</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.kr_A</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2.kr_B</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>F</string>
    <string>Germandbls</string>
    <string>H</string>
    <string>Hbar</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>P</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>thorn</string>
  </array>
  <key>public.kern2.kr_J</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern2.kr_O</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Cdotaccent</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern2.kr_S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern2.kr_T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern2.kr_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
  </array>
  <key>public.kern2.kr_V</key>
  <array>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.kr_X</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern2.kr_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern2.kr_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern2.kr_a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>atilde</string>
    <string>ordfeminine</string>
  </array>
  <key>public.kern2.kr_b</key>
  <array>
    <string>b</string>
    <string>dotlessi</string>
    <string>h</string>
    <string>hbar</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>lslash</string>
  </array>
  <key>public.kern2.kr_c</key>
  <array>
    <string>a.alt</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>q</string>
  </array>
  <key>public.kern2.kr_f</key>
  <array>
    <string>eth</string>
    <string>f</string>
  </array>
  <key>public.kern2.kr_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
  </array>
  <key>public.kern2.kr_j</key>
  <array>
    <string>dotlessj</string>
    <string>iogonek</string>
    <string>j</string>
  </array>
  <key>public.kern2.kr_n</key>
  <array>
    <string>m</string>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
    <string>p</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
  </array>
  <key>public.kern2.kr_s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern2.kr_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern2.kr_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
  </array>
  <key>public.kern2.kr_v</key>
  <array>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern2.kr_x</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern2.kr_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
  <key>public.kern2.kr_z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>colon</string>
    <string>comma</string>
    <string>period</string>
    <string>semicolon</string>
  </array>
</dict>
</plist>
