<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.kl_A</key>
  <array>
    <string>A</string>
  </array>
  <key>public.kern1.kl_B</key>
  <array>
    <string>B</string>
  </array>
  <key>public.kern1.kl_C</key>
  <array>
    <string>C</string>
  </array>
  <key>public.kern1.kl_D</key>
  <array>
    <string>D</string>
    <string>O</string>
    <string>Q</string>
  </array>
  <key>public.kern1.kl_E</key>
  <array>
    <string>E</string>
  </array>
  <key>public.kern1.kl_F</key>
  <array>
    <string>F</string>
  </array>
  <key>public.kern1.kl_G</key>
  <array>
    <string>G</string>
  </array>
  <key>public.kern1.kl_H</key>
  <array>
    <string>H</string>
    <string>I</string>
    <string>M</string>
    <string>N</string>
  </array>
  <key>public.kern1.kl_J</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern1.kl_K</key>
  <array>
    <string>K</string>
  </array>
  <key>public.kern1.kl_L</key>
  <array>
    <string>L</string>
  </array>
  <key>public.kern1.kl_P</key>
  <array>
    <string>P</string>
  </array>
  <key>public.kern1.kl_R</key>
  <array>
    <string>R</string>
  </array>
  <key>public.kern1.kl_S</key>
  <array>
    <string>S</string>
  </array>
  <key>public.kern1.kl_T</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern1.kl_U</key>
  <array>
    <string>U</string>
  </array>
  <key>public.kern1.kl_V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.kl_W</key>
  <array>
    <string>W</string>
  </array>
  <key>public.kern1.kl_X</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern1.kl_Y</key>
  <array>
    <string>Y</string>
  </array>
  <key>public.kern1.kl_Z</key>
  <array>
    <string>Z</string>
  </array>
  <key>public.kern1.kl_a</key>
  <array>
    <string>a</string>
    <string>h</string>
    <string>m</string>
    <string>n</string>
  </array>
  <key>public.kern1.kl_b</key>
  <array>
    <string>b</string>
    <string>o</string>
    <string>p</string>
  </array>
  <key>public.kern1.kl_c</key>
  <array>
    <string>c</string>
    <string>e</string>
  </array>
  <key>public.kern1.kl_d</key>
  <array>
    <string>d</string>
  </array>
  <key>public.kern1.kl_f</key>
  <array>
    <string>f</string>
  </array>
  <key>public.kern1.kl_g</key>
  <array>
    <string>g</string>
  </array>
  <key>public.kern1.kl_i</key>
  <array>
    <string>i</string>
  </array>
  <key>public.kern1.kl_j</key>
  <array>
    <string>j</string>
    <string>q</string>
  </array>
  <key>public.kern1.kl_k</key>
  <array>
    <string>k</string>
  </array>
  <key>public.kern1.kl_l</key>
  <array>
    <string>l</string>
  </array>
  <key>public.kern1.kl_r</key>
  <array>
    <string>r</string>
  </array>
  <key>public.kern1.kl_s</key>
  <array>
    <string>s</string>
  </array>
  <key>public.kern1.kl_t</key>
  <array>
    <string>t</string>
  </array>
  <key>public.kern1.kl_u</key>
  <array>
    <string>u</string>
  </array>
  <key>public.kern1.kl_v</key>
  <array>
    <string>v</string>
    <string>w</string>
  </array>
  <key>public.kern1.kl_x</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern1.kl_y</key>
  <array>
    <string>y</string>
  </array>
  <key>public.kern1.kl_z</key>
  <array>
    <string>z</string>
  </array>
  <key>public.kern1.period</key>
  <array>
    <string>colon</string>
    <string>comma</string>
    <string>period</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.kr_A</key>
  <array>
    <string>A</string>
  </array>
  <key>public.kern2.kr_B</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
  </array>
  <key>public.kern2.kr_J</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern2.kr_O</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>O</string>
    <string>Q</string>
  </array>
  <key>public.kern2.kr_S</key>
  <array>
    <string>S</string>
  </array>
  <key>public.kern2.kr_T</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern2.kr_U</key>
  <array>
    <string>U</string>
  </array>
  <key>public.kern2.kr_V</key>
  <array>
    <string>V</string>
    <string>W</string>
  </array>
  <key>public.kern2.kr_X</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern2.kr_Y</key>
  <array>
    <string>Y</string>
  </array>
  <key>public.kern2.kr_Z</key>
  <array>
    <string>Z</string>
  </array>
  <key>public.kern2.kr_a</key>
  <array>
    <string>a</string>
  </array>
  <key>public.kern2.kr_b</key>
  <array>
    <string>b</string>
    <string>h</string>
    <string>i</string>
    <string>k</string>
    <string>l</string>
  </array>
  <key>public.kern2.kr_c</key>
  <array>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>o</string>
    <string>q</string>
  </array>
  <key>public.kern2.kr_f</key>
  <array>
    <string>f</string>
  </array>
  <key>public.kern2.kr_g</key>
  <array>
    <string>g</string>
  </array>
  <key>public.kern2.kr_j</key>
  <array>
    <string>j</string>
  </array>
  <key>public.kern2.kr_n</key>
  <array>
    <string>a.alt</string>
    <string>m</string>
    <string>n</string>
    <string>p</string>
    <string>r</string>
  </array>
  <key>public.kern2.kr_s</key>
  <array>
    <string>s</string>
  </array>
  <key>public.kern2.kr_t</key>
  <array>
    <string>t</string>
  </array>
  <key>public.kern2.kr_v</key>
  <array>
    <string>v</string>
    <string>w</string>
  </array>
  <key>public.kern2.kr_x</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern2.kr_y</key>
  <array>
    <string>y</string>
  </array>
  <key>public.kern2.kr_z</key>
  <array>
    <string>z</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>colon</string>
    <string>comma</string>
    <string>period</string>
    <string>semicolon</string>
  </array>
</dict>
</plist>
