<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>A</string>
    <string>E</string>
    <string>H</string>
    <string>T</string>
    <string>O</string>
    <string>C</string>
    <string>G</string>
    <string>R</string>
    <string>D</string>
    <string>n</string>
    <string>o</string>
    <string>i</string>
    <string>b</string>
    <string>c</string>
    <string>e</string>
    <string>d</string>
    <string>r</string>
    <string>a</string>
    <string>h</string>
    <string>t</string>
    <string>B</string>
    <string>m</string>
    <string>v</string>
    <string>l</string>
    <string>period</string>
    <string>N</string>
    <string>L</string>
    <string>P</string>
    <string>I</string>
    <string>S</string>
    <string>x</string>
    <string>V</string>
    <string>k</string>
    <string>u</string>
    <string>M</string>
    <string>y</string>
    <string>s</string>
    <string>z</string>
    <string>f</string>
    <string>p</string>
    <string>q</string>
    <string>j</string>
    <string>g</string>
    <string>F</string>
    <string>Z</string>
    <string>K</string>
    <string>Q</string>
    <string>J</string>
    <string>U</string>
    <string>Y</string>
    <string>W</string>
    <string>w</string>
    <string>X</string>
    <string>comma</string>
    <string>exclam</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>numbersign</string>
    <string>question</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>equal</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>quotesingle</string>
    <string>quoteright</string>
    <string>quoteleft</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedbl</string>
    <string>plus</string>
    <string>bracketleft</string>
    <string>asterisk</string>
    <string>slash</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>underscore</string>
    <string>bracketright</string>
    <string>section</string>
    <string>backslash</string>
    <string>asciicircum</string>
    <string>yen</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>exclamdown</string>
    <string>questiondown</string>
    <string>space</string>
    <string>dollar</string>
    <string>periodcentered</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>seven</string>
    <string>five</string>
    <string>eight</string>
    <string>six</string>
    <string>nine</string>
    <string>a.alt</string>
    <string>at</string>
    <string>braceleft</string>
    <string>ampersand</string>
    <string>minus</string>
    <string>plusminus</string>
    <string>multiply</string>
    <string>divide</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>tilde</string>
    <string>less</string>
    <string>percent</string>
    <string>braceright</string>
    <string>greater</string>
    <string>nbspace</string>
  </array>
</dict>
</plist>
